// ## Colors/

// ### Primary
$cyan: hsl(179, 62%, 43%);
$brightYellow: hsl(71, 73%, 54%);

// ### Neutral

$lightGray: hsl(204, 43%, 93%);
$grayishBlue: hsl(218, 22%, 67%);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Karla', sans-serif;
    background: $lightGray
}