@import "_reset";

@mixin flexBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  color: $cyan;
  padding-top: 2em;
  padding-left: 38px;
  font-size: 1.2em;
  font-weight: 700;
}
._day {
  color: $brightYellow;
  padding-left: 38px;
  padding-top: 1.2em;
  font-weight: 700;
}
.access {
  color: $grayishBlue;
  padding-top: 1em;
  padding-left: 38px;
  line-height: 25px;
  font-size: 14px;
  font-weight: 700;
  width: 95%;
}
.grid_hero {
  font-size: 16px;
}
.submit {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid transparent;
  background: $brightYellow;
  color: #fff;
  &:hover{
    cursor: pointer;
    opacity: 0.8; //additional functionality
  }
}
.flex-box{
  display: flex;
  align-items: center;
}

.dollar{
  font-size: 2em;
  display: inline-block;
  padding-top: .5em;
  font-weight: 700;
    padding-top: 0.6em;
}
.amt_month{
  color: $lightGray;
  padding-left: 0.8em;
  display: inline-block;
  padding-top: 20px;
}
.small_left{
  font-weight: 400;
  font-size: 1.1em;
  padding-top: 0.5em;
  padding-bottom: 1.8em;
  width: 100%;
}
.small_right{
  font-weight: 400;
  color: $lightGray;
  padding-top: 1.4em;
}

main {
  .container {
    .grid_row {
      display: flex;
      height: 50%;
      width: 100%;
      color: #fff;
      section.left_grid {
        background: $cyan;
        width: 100%;
        padding-top: 2em;
    
      }
      section.right_grid {
        width: 100%;
        border-bottom-right-radius: 5px;
        padding-top: 2em;
        background: hsl(179, 47%, 52%);
      }
    }
  }
}

@media (min-width: 769px) {
  main {
  @include flexBox;
  width: 100%;
  height: 100vh;
  .container {
    width: 42%;
    height: 490px;
    .center {
      height: 40%;
      background: #fff;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
    .grid_row {
      display: flex;
      height: 50%;
      width: 100%;
      color: #fff;
      section.left_grid {
        background: $cyan;
        width: 100%;
        border-bottom-left-radius: 5px;
        padding-top: 2em;
        padding-left: 38px;
        padding-right: 38px;
      }
      section.right_grid {
        width: 100%;
        border-bottom-right-radius: 5px;
        padding-top: 2em;
        padding-left: 38px;
        background: hsl(179, 47%, 52%);
      }
    }
  }
}

}

@media (min-width: 279px) and (max-width: 768px){
  body{
    @include flexBox;
  }
  main{
    width: 320px;
    .container{
      width: 100%;
      height: 100%;
    }
    section.center{
      padding: 25px;
      height: 35%;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      background: #fff;
      h1, p{
        padding: 0;
        width: 100%;
      }
      ._day{
        font-size: 1em;
        padding-top: 20px;
      }
      .access{
        padding-top: 20px;
        width: 100%;
        font-size: 0.8em;
      }
    }
    .grid_row{
      flex-direction: column;
      height: 450px;
    }
  }
  .left_grid, .right_grid{
    height: 100%;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 20px;
  }
  .right_grid{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
  }

}
